.container {
    background: black;
    display: inline-block;
    border: 1px solid black;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(3, 40px);
    grid-gap: 1px;
  }
