.App {
  text-align: center;
}

.player-container {
  background-color: #585e6b;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
}

.score-container {
  background-color: #585e6b;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5rem;
  grid-gap: 1rem;
}

.total-score-container {
  background-color: #f10808;
  display: grid;
  grid-template-columns: auto auto;
}
