h1 {
  text-align: center;
}

h4 {
  text-align: left;
  margin-left: 16px;
  width:100%
}

.player-container { 
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.score-container--left {
  padding: 0.5rem;
  width: 50%;
}

.score-container--right{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0.5rem;
  width: 50%;
}

.score-container__item {
  background-color: #222326;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border-radius: 8px;
}

.score-container__item--objective {
  background-color: #222326;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.score-container__item--points {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.score-container__points-container {
  border: #414c50 solid 2px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  border-radius: 8px;
}